<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happy Birthday {{receiver}}</title>
  </head>
  <body>
    <h3><center>Happy Birthday !!</center></h3>
    <h4><center>
      May you be gifted with life’s biggest joys<br />
      and never-ending bliss.<br />
      After all, you yourself are a gift to earth,<br />
      so you deserve the best.<br />
      The happiest of birthdays {{receiver}}!!!!!</center>
    </h4>
    <h4><center>A special birthday card is waiting for you <a href="birthdaywisher.pythonanywhere.com/wish/{{sender}}/{{receiver}}">here.</center></a></h4>
    <p>
      <center>From {{sender}}</center>
    </p>
    <br />
    <p><center>A Sweet Wish From Birthday Wisher <a href="birthdaywisher.pythonanywhere.com/">Team</a>.</center></p>
  </body>
</html>
